.reviews-container {
    display: flex;
    justify-content: center;
}

.reviews-table {
    table-layout: fixed;
    width: 100%;
    margin-top: 200px;
    border-collapse: collapse;
}

.reviews-table thead {
    background-color: #eee;
}


.reviews-table caption {
    font-weight: bold;
}

th, td {
    padding: 10px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #eeee;
}

caption {
    text-align: left;
    font-size: large;
}

.give-review:disabled,
.give-review:disabled:hover {
    background-color: #eee;
}

.reviews-table thead th:nth-child(1) {
width: 10%;
}

.reviews-table thead th:nth-child(2) {
width: 20%;
}

.reviews-table thead th:nth-child(3) {
width: 20%;
}

.reviews-table thead th:nth-child(4) {
width: 20%;
}

.reviews-table thead th:nth-child(5) {
    width: 30%;
}